body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #333333;
}
#controls{
    margin-top:30px;
}

h1 {
    color:#ffffff;
}
h2 {
    color:white;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #837c75;
    border: 6px solid #726a63;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #686059;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns{
    padding:0;
    margin-bottom: 3px;
    height:50px;
    width:70px;
    border-radius: 5px;
    border:none;
    color:white;
    background-color: #009578;
    outline:none;
    box-shadow: rgba(0,0,0,0.19)
                0px 10px 20px, rgba(0,0,0,0.23) 0px 6px 6px ;
}
.btns:hover{
    background-color:#008168;
}
.btns:active{
    background-color:#006e58;
    transform: scale(0.95)
}
.bx{
    background:none;
}

/* colored tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}
