
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: hwb(216 5% 83%);
    color: var(--textPrimary);
    font-size: 1.4rem;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display:flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 13s linear infinite;
    animation-duration: calc(120s/var(--i));
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px0 #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1); 
    }
}
#b1{
    margin-left: 10%;
}
svg{
    width: 40px;
    transform: scale(1.5);
    fill: hsl(182, 60%, 28%);
}
h1{
    color: var(--primaryColor);
    font-size: 4rem;
}
#header{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding: 20px;
    margin-left: 200px;
    margin-right: 230px;
    background-color: #1818189a;
}
#buttons{
    text-align: right;
}
#timer{
    color:var(--textPrimary);
    text-align: left;
    padding-left: 35px;
    padding-top: 10px;
    font-size: 1.8rem;
    margin-top:5px;
}
.button{
    border: none;
    font-size: 1.5rem;
    color: #666;
    background: none;
    padding:10px;
    cursor: pointer;
}
.active{
    color:white;
}
#game{
    position: absolute;
    margin-left: 150px;
    margin-right: 175px;
    margin-top:10px;
    margin-bottom: 400px;
    padding: 18px;
/*    background-color:hwb(212 7% 87%);
*/}
div#game{
    line-height: 35px;
    height:300px;
    overflow: hidden;
    margin-bottom: 400px;
}
div#game:focus{
    outline:0;
}
#words{
    filter: blur(5px);
    font-size: 2.5rem;
    color: hsl(0, 0%, 38%);
}
#game:focus #words{
    filter:blur(0);
}
#focus-error{
    position: absolute;
    inset:0;
    text-align: center;
    padding-top:110px;
    font-size: 2.2rem;
}
#game:focus #focus-error{
    display: none;
}
#game:focus #cursor{
    display:block;
}
#game.over #words{
    opacity: .5;
    filter: blur(0);
}
#game.over:focus #cursor{
    display: none;
}
#game.over #focus-error{
    display:none;
}
div.word{
    display: inline-block;
    font: 'Roboto Mono',monospace;
    padding: 10px;
}
:root{
    --textPrimary: #fff;
    --textSeconday: #666;
    --primaryColor: hsl(0, 0%, 61%);
}
.letter.correct{
    color:#fff;
}
.letter.incorrect{
    color: #f55;
}
#cursor{
    width:2px;
    display: none;
    height: 2.4rem;
    background-color: orange;
    position: fixed;
    top:337px;
    left:175px;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#result{
    margin-left: 735px;
    margin-top: 30px;
}